<h2>Edit activity</h2>

<%= render "form.html", changeset: @changeset,
                        action: activity_path(@conn, :update, @activity) %>

<%= link "Back", to: activity_path(@conn, :index) %>
