<h2>Show activity</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @activity.name %>
  </li>

  <li>
    <strong>Default duration:</strong>
    <%= @activity.default_duration %>
  </li>

  <li>
    <strong>User:</strong>
    <%= @activity.user_id %>
  </li>

</ul>

<%= link "Edit", to: activity_path(@conn, :edit, @activity) %>
<%= link "Back", to: activity_path(@conn, :index) %>
