<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello CouchjitsuTrack!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </head>

  <body>
      <nav class='ui top fixed inverted menu'>
        <div class='item'>
          <a href='http://couchjitsu.com'><img src="<%= static_path(@conn, "/assets/couchjitsu_large_logo.png") %>" class="ui mini image" /></a>
        </div>
        <%= if(@conn.assigns[:current_user]) do %>
          <a href='/activityfeed' class='item'><i class='ui clock icon'></i>History</a>
          <a href='/activityfeed/new' class='item'><i class='ui plus icon'></i>New</a>
        <% end %>

        <div class='right menu'>
        <%= if(@conn.assigns[:current_user]) do %>
          <div class='item'>
            <%= get_user(@conn) %>
          </div>
        <% else %>
          <div class='item'>
            <a href='auth/facebook'>Sign In</a>
          </div>
        <% end %>
        </div>
      </nav>
      <main class='ui top margined container' role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>


  </body>
  <footer>
    <label class="tiny basic label"><%= System.get_env("HEROKU_SLUG_COMMIT") %></label>
  </footer>
</html>
