<div class="event">
    <div class="content">
        <div class="summary">
            <a href="activity/<%= @e.activity_id %>"><%= @e.name %></a>
            <div class="date">
                <%= @e.time %>
            </div>
            <%= if @e[:notes] do %>
                <div class="extra text">
                    <%= @e.notes %>
                </div>
            <% end %>
        </div>
    </div>
</div>