<%= if show_suggestions @suggestions do %>
    <div class="ui info message">It's <%=get_name @date%>, did you do:
        <ul>
            <%= for s <- @suggestions do %>
            <li>
                <a data-id="<%= get_id s %>"
                data-duration="<%= get_duration s %>"><%= get_suggestion s %></a>
            </li>
            <% end %>
        </ul>
    </div>
<% end %>