<h2>Statistics</h2>

<%= render "statistic_card.html", conn: @conn, stat: @stats.current_month, title: "Current Month" %>

<%= render "statistic_card.html", conn: @conn, stat: @stats.current_year, title: "Current Year" %>

<%= render "statistic_card.html", conn: @conn, stat: @stats.all_time, title: "All Time" %>